.chat {
  padding: 1em 0;
  display: flex;
  position: relative;
}

.chat__author_link {
  margin-right: 1em;
}

.chat__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-wrap;
  line-height: 1.5;
}

.chat__author {
  display: flex;
}

.chat__authorname {
  font-size: var(--fs-h4);
  color: var(--clr-gray);
  opacity: 0.7;
}

.chat__authorteam {
  font-size: var(--fs-h5);
  color: var(--clr-gray);
  opacity: 0.7;
  margin: auto 0;
}

.chat__content {
  margin: 0.25em 0;
  font-size: var(--fs-h4);
}

.chat__update_form {
  display: flex;
  justify-content: center;
}

.chat__update_form > textarea {
  width: 100%;
}

.chat__form_input {
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
  height: auto;
  word-break: break-all;
}

.chat__form_button > svg {
  font-size: var(--fs-h3);
}

.chat__created {
  color: var(--clr-gray);
  opacity: 0.7;
}

.chat > button {
  cursor: pointer;
  margin: 0 0 auto auto;
  font-size: var(--fs-h2);
}

.chat__dropdown {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
  position: absolute;
  top: 48px;
  right: -5px;
  padding: 1em;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
  z-index: 200;
}

.dropdown__update,
.dropdown__delete {
  cursor: pointer;
  font-size: var(--fs-h4);
}

.dropdown__delete {
  color: var(--clr-point);
}

.focus {
  display: flex;
}
