.chat {
    padding: 1em 0;
    display: flex;
}

.chat > img {
    margin-right: 1em;
}

.chat__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: pre-wrap;
    line-height: 1.5;
}

.chat__author {
    display: flex;
}

.chat__authorname {
    font-size: var(--fs-h4);
    color: var(--clr-gray);
    opacity: 0.7;
}

.chat__authorteam {
    font-size: var(--fs-h5);
    color: var(--clr-gray);
    opacity: 0.7;
    margin: auto 0;
}

.chat__content {
    margin: .25em 0;
    font-size: var(--fs-h4);
}

.chat__created {
    color: var(--clr-gray);
    opacity: 0.7;
}