.post {
    max-width: 700px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3em 4em;
    border: 1.4px solid var(--clr-gray);
    border-radius: 10px;
}

.post__post {
    display: flex;
    flex-direction: column;
}

.post__tc {
    display: flex;
    align-items: flex-end;
    opacity: 0.7;
    margin-bottom: 0.3em;
}

.post__team {
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    color: var(--clr-gray);
    margin-right: 0.5em;
}

.post__category {
    font-size: var(--fs-h4);
    font-weight: var(--fw-reg);
    color: var(--clr-gray);
    margin-left: 0.5em;
}

.post__title {
    color: var(--clr-blue);
    font-size: var(--fs-h2);
    word-break: break-all;
    margin-bottom: 0.3em;
}

.post__author {
    display: flex;
    margin-bottom: 1.3em;
    position: relative;
}

.post__author img {
    border-radius: 100%;
    margin-right: 1em;
    object-fit: cover;
}

.post__author_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--clr-gray);
    opacity: 0.7;
}

.post__author_username {
    font-weight: var(--fw-bold);
}

.post__author button {
    cursor: pointer;
    margin: auto 0 auto auto;
    font-size: var(--fs-h2);
}

.post__dropdown {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: .3em;
    position: absolute;
    top: 48px;
    right: -5px;
    padding: 1em;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 10px;
    z-index: 200;
}

.focus {
    display: flex;
}

.post__content {
    font-size: var(--fs-h4);
    line-height: 1.5;
    word-break: break-all;
    margin: 2em 0;
    white-space: pre-wrap;
}
