.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 130px 300px;
    margin: 0 auto;
    max-width: 800px;
}

.form__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-dark);
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.form__header h1 {
    font-size: var(--fs-h2);
    color: var(--clr-gray);
    margin: auto 0;
}

.form__header button {
    margin: auto 0;
    min-width: 50px;
    height: 30px;
    color: var(--clr-light);
    background-color: var(--clr-blue);
    border-radius: 15px;
    font-size: var(--fs-input);
    text-align: center;
    cursor: pointer;
}

.form__team {
    padding: 1em;
    border: 1px solid var(--clr-gray);
    border-radius: 10px;
    margin-bottom: 1em;
}

.form__selects {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.form__select {
    position: relative;
    margin: 0 .5em;
    width: 100%;
    color: var(--clr-gray);
    opacity: 0.5;
    border-bottom: 1px solid var(--clr-dark);
}

.form__select > select {
    width: 100%;
    padding: .5em;
    font-size: var(--fs-input);
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__select > svg {
    position: absolute;
    top: 30%;
    right: 10px;
}

.form input, .form textarea {
    margin-bottom: 1em;
    border: 1px solid var(--clr-dark);
    border-radius: 15px;
    font-size: var(--fs-input);
    resize: none;
}

.form__title {
    padding: 0.5em 1em;
    width: 100%;
    box-sizing: border-box;
}

.form__content {
    padding: 0.6em 1em;
}

.form__title::placeholder, .form__content::placeholder {
   font-size: var(--fs-input);
   color: rgba(128,128,128, 0.6);
}