.btns {
	margin-bottom: 1em;
}

.hp_btn {
	padding: 0.35em 0.75em;
	font-size: var(--fs-h4);
	font-weight: bold;
	text-align: center;
	border: 1px solid var(--clr-dark);
	border-radius: 4px;
	margin-right: 0.5em;
	cursor: pointer;
}

.hp_btn_selected {
	border: none;
	background-color: var(--clr-blue);
	color: var(--clr-light);
}
