.post__reaction {
    display: flex;
    margin-bottom: 1em;
}

.post__reaction p {
    margin-right: 1em;
    color: var(--clr-gray);
    opacity: 0.7;
}

.post__like svg {
    color: var(--clr-point);
}

.post__chat svg {
    color: var(--clr-blue);
}
