.searchForm {
	max-width: 500px;
	margin: 0 auto 2em;
	border: 1px solid var(--clr-dark);
	border-radius: 10px;
}

.searchForm__input {
	width: calc(100% - 2em);
	box-sizing: border-box;
	font-size: var(--fs-h2);
	padding: 0.5em;
}

.searchForm__icon {
	font-size: var(--fs-h2);
}
