.signup__box {
    width: 350px;
    margin: 2.5em auto;
}

.signup__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.signup__logo {
    font-size: var(--fs-h2);
    color: var(--clr-blue);
}

.signup__login {
    margin: auto 0;
    color: var(--clr-blue);
}

.signup__form {
    display: flex;
    flex-direction: column;
}

.signup__form > * {
    font-size: var(--fs-input);
}

.signup__form > input {
    margin: .25em 0 1em;
    padding: 1em;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
}

.signup__form > input::placeholder {
    font-size: var(--fs-input);
    color: rgba(128,128,128, 0.6);
}

.signup__team {
    position: relative;
}

.signup__team > select {
    width: 100%;
    margin: .25em 0 1em;
    padding: 1em .5em;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: 1em .5em;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* IE */
.signup__team > select::-ms-expand { 
	display: none;
}

.signup__team > svg {
    position: absolute;
    top: 30%;
    right: 10px;
}

.signup__form > button {
    margin: .5em auto 0;
    padding: .3em .75em;
    color: var(--clr-light);
    font-size: var(--fs-h3);
    text-align: center;
    background-color: var(--clr-blue);
    border-radius: 20px;
    min-width: 200px;
    cursor: pointer;
}