.signup__box {
	width: 100%;
	max-width: 350px;
	margin: 0 auto 2.5em;
}

.signup__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
}

.signup__logo {
	font-size: var(--fs-h2);
	color: var(--clr-blue);
}

.signup__login {
	margin: auto 0;
	color: var(--clr-blue);
}

.signup__form {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.signup__form > * {
	font-size: var(--fs-input);
}

.signup__form > input {
	margin: 0.25em 0 1em;
	padding: 1em;
	border: 1px solid var(--clr-dark);
	border-radius: 5px;
	min-width: none;
}

.signup__form > input::placeholder {
	font-size: var(--fs-input);
	color: rgba(128, 128, 128, 0.6);
}

.signup__team {
	position: relative;
}

.signup__team > select {
	width: 100%;
	min-width: none;
	margin: 0.25em 0 1em;
	padding: 1em 0.5em;
	box-sizing: border-box;
	border: 1px solid var(--clr-dark);
	border-radius: 5px;
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* IE */
.signup__team > select::-ms-expand {
	display: none;
}

.signup__team > svg {
	position: absolute;
	top: 30%;
	right: 10px;
}

.signup__form > button {
	margin: 0.5em auto 0;
	padding: 0.3em 0.75em;
	color: var(--clr-light);
	font-size: var(--fs-h4);
	text-align: center;
	background-color: var(--clr-blue);
	border-radius: 20px;
	max-width: 120px;
	height: 25px;
	cursor: pointer;
}

.hr {
	width: 70%;
	min-width: 30px;
	margin: 0 auto;
}

.social__login {
	margin-top: 2em;
}

.social__kakao {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
