.team__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__summary img {
    display: block;
    margin: 0 auto .5em;
}

.team__summary h1 {
    font-size: var(--fs-h);
}