.team__rank_table {
	table-layout: fixed;
	margin: 0 auto;
}

.team__rank_caption {
	font-size: var(--fs-h2);
	font-weight: var(--fw-bold);
	color: var(--clr-blue);
	margin-bottom: 0.5em;
}

.team__rank_thead th:nth-child(1) {
	width: 10%;
}

.team__rank_thead th:nth-child(2) {
	width: 20%;
}

.team__rank_thead th:nth-child(3) {
	width: 20%;
}

.team__rank_thead th:nth-child(4) {
	width: 20%;
}

.team__rank_thead th:nth-child(5) {
	width: 20%;
}

.team__rank_thead th,
.team__rank_tbody th,
.team__rank_tbody td {
	padding: 0.2em;
}

.team__rank_tbody td {
	text-align: center;
}
