@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/NotoSansKR.ttf") format("ttf");
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    top: 0;
    font-family: NotoSansKR;
}

a {
    text-decoration: none;
    color: var(--clr-dark)
}

input, textarea, select, button {
    all: unset;
}

:root {
    --clr-dark: #0B2545;
    --clr-gray: #494949;
    --clr-background: #EEF4ED;
    --clr-light: #FFFFFF;
    --clr-point: #E88168;
    --clr-blue: #134074;
    
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.2rem;
    --fs-h4: 1rem;
    --fs-input: .9rem;

    --fw-reg: 300;
    --fw-bold: 800;

    --default-padding: 1em;
}