.post_grid {
	display: flex;
	justify-content: space-between;
	gap: 2em;
	max-width: 100%;
	min-height: 560px;
}

.list {
	width: 100%;
}

.list__header {
	color: var(--clr-blue);
	font-size: var(--fs-h2);
	margin-bottom: 0.25em;
}

@media (max-width: 820px) {
	.post_grid {
		flex-direction: column;
		gap: 2em;
	}
}
